.cache/
.env
.env.*
!.env.example
.pytest_cache/
.terraform/
.venv/
__pycache__/
*.py[cod]
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
/infra/bootstrap/backend.tf
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
